body {
  font-family: 'Prompt', sans-serif;
}

@media screen and (min-width: 1408px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 1152px;
  }
}

.hero {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #00D1B2;
}

.box-intro {
  height: 258px;
}

.img-icon-intro {
  display: block;
  margin: 0 auto 0.75em;
  width: 128px;
}

.has-text-warning {
  color: rgb(255, 187, 0) !important;
}

.tag-text-discord {
  background-color: white;
  padding: 0.1em 0.5em;
  border-radius: 5px;
  background-color: #5865F2;
  color: white;
  margin-left: 0.25em;
}

.subtitle {
  line-height: 1.95;
}

.svg-discord {
  margin-bottom: -3px;
  width: 1.25em;
}

.buttons {
  position: relative;
  z-index: 100;
}

@keyframes updown {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(15px);
  }
}

.svg-coding-bro {
  animation: updown 2s infinite alternate ease-in-out;
  position: absolute;
  right: -180px;
  bottom: -350px;
  width: 40%;
  z-index: 10;
}

.svg-activity-bro {
  animation: updown 3s infinite alternate ease-in-out;
  position: absolute;
  left: -100px;
  bottom: 50px;
  width: 30%;
}

.svg-webinar-bro {
  float: right;
  width: 35%;
  margin-top: -10px;
}

.svg-computing-bro {
  float: left;
  width: 290px;
  margin-top: -100px;
  margin-right: 15px;
}

.svg-savings-bro {
  float: right;
  width: 350px;
  margin-top: -40px;
  margin-left: 10px;
}

.tabs.is-boxed a:hover {
  background-color: #ffffff;
  border-bottom-color: #dbdbdb;
}

.is-nowrap, .table-nowrap td {
  white-space: nowrap;
}

.content h3, .content h3:not(:first-child) {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .section {
    padding: 2em 1em;
  }
}

@media screen and (max-width: 768px) {
  .is-fullwidth-mobile {
    width: 100%;
  }
}
